[user]
	name = Bernardo Pacheco
	email = bernardo.wpacheco@gmail.com

[core]
	editor = vim
	excludesfile = /home/bernardo/.gitignore

[alias]
	br = branch

	ci = commit
	cm = commit -m

	co = checkout

	df = diff
	ds = diff --staged

	st = status

	discard = checkout --
	dis = checkout --

	unstage = reset HEAD
	uns = reset HEAD

	l   = log -18 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    	ll  = log     --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	gl  = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
	gll = log     --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'

	root = rev-parse --show-toplevel
	currentbranch = rev-parse --abbrev-ref HEAD

[merge]
	tool = kdiff3

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
