'global':
  'core':
    'disabledPackages': [
      'metrics'
    ]
  'metrics': false
  'exception-reporting':
    'userId': 'c6b9b6c6-626e-00a4-d596-880399b0319c'
  'welcome':
    'showOnStartup': false
  'editor':
    'showInvisibles': true
    'invisibles': {}
